@model IEnumerable<MVCFilters.Models.Department>
@{
    Layout = null;
    ViewBag.Title = "DisplayDepts";
}
<table border="1" align="center">
    <caption>Department Details</caption>
    <tr>
        <th>@Html.DisplayNameFor(D => D.Did)</th>
        <th>@Html.DisplayNameFor(D => D.Dname)</th>
        <th>@Html.DisplayNameFor(D => D.Location)</th>
        <th>Employees</th>
    </tr>
    @foreach(var Dept in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(D => Dept.Did)</td>
                    <td>@Html.DisplayFor(D => Dept.Dname)</td>
                    <td>@Html.DisplayFor(D => Dept.Location)</td>
                    <td>@Html.Action("DisplayEmpsByDept", new {Did = Dept.Did})</td>
                </tr>
            }
</table>
